# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/rental_sys"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-minimum-32-chars"
